{
  "presets": [
    ["latest", { "es2015": { "loose": true } }]
  ],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ],
  "comments": false
}
